* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ede4e2;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}

.flex {
    display: flex;
}

header .btn-contato button {
    font-size: 18px;
    font-weight: 600;
    background-color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO DO CABEÇALHO */
header {
    width: 100%;
    padding: 40px 4%;
    position: fixed;
    top: 0;
    left: 0;

    transition: .5s;
    z-index: 9999999999999999999999999999;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    max-width: 100px;
}

header .menu-desktop ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header .menu-desktop ul li {
    margin: 0 40px;
}

header .menu-desktop ul li a {
    color: #151b54;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

.menu-desktop a:hover {
    transform: scale(1.05);
}

header .btn-contato button {
    width: 140px;
    height: 50px;
}

header .btn-contato button:hover, .topo-do-site button:hover {
    box-shadow: 0px 0px 8px #fff;
    transform: scale(1.05);
}

.btn-contato a {
    color: #151b54;
}

/* MENU DINÂMICO */
header.rolar {
    background-color: #e63b60;
    padding: 20px 0;
    box-shadow: 0 0 8px #00000061;
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site {
    height: 100vh;
    background-image: url("images/cinWh.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.topo-do-site .interface {
    display: flex;
    align-items: center;
    height: 100%;
}

.topo-do-site .txt-topo-site h1 {
    color: #151b54;
    font-size: 4em;
    line-height: 70px;
    font-weight: 200;
}

.topo-do-site .txt-topo-site h1 span {
    color: #e63b60;
    display: block;
    font-weight: 700;
}

.topo-do-site .txt-topo-site p {
    color: #151b54;
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}

/* PORTIFÓLIO */
section.portifolio {
    background-color: #ede4e2;
}

.titulo-port h2 {
    text-align: center;
    color: #e63b60;
    font-size: 3em;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 130px;
}

.card img {
    width: 380px;
    height: auto;
    border-radius: 5px;
}

.card-port {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, auto));
    gap: 5%;
    margin-left: 50px;
}

.card h4 {
    color: #29465b;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
}

.card h3 {
    color: #151b54;
    font-size: 22px;
    font-weight: 600;
}

.card p {
    color: #151b54;
    font-size: 19px;
    max-width: 380px;
    line-height: 25px;
    margin-bottom: 12px;
}

/* RODAPÉ */
footer {
    padding: 40px 4%;
    background-color: #b7c9e2;
    box-shadow: 0 0 40px 10px #fff;
}

footer .line-footer {
    padding: 20px 0;
    align-items: flex-end;
    justify-content: flex-end;
}

footer .flex {
    display: flex;
}

footer .line-footer borda {
    border-top: 2px solid #fff;
}

footer .line-footer p i {
    color: #fff;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
}

/* BOTÕES SOCIAIS */
.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
    text-align: center;
}

.btn-social {
    text-align: center;
}
