/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #b7c9e2;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}

header .btn-contato button, .topo-do-site button {
    font-size: 18px;
    font-weight: 600;
    background-color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.flex {
    display: flex;
}

/* ESTILO DO CABEÇALHO */
header {
    width: 100%;
    padding: 40px 4%;
    position: fixed;
    top: 0;
    left: 0;

    transition: .5s;
    z-index: 9999999999999999999999999999;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    max-width: 100px;
}

header .menu-desktop ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header .menu-desktop ul li {
    margin: 0 40px;
}

header .menu-desktop ul li a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

.menu-desktop a:hover {
    transform: scale(1.05);
}

header .btn-contato button {
    width: 140px;
    height: 50px;
}

header .btn-contato button:hover, .topo-do-site button:hover {
    box-shadow: 0px 0px 8px #fff;
    transform: scale(1.05);
}

/* MENU DINÂMICO */
header.rolar {
    background-color: #e63b60;
    padding: 20px 0;
    box-shadow: 0 0 8px #00000061;
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site {
    height: 100vh;
    background-image: url("images/cina.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.topo-do-site .interface {
    display: flex;
    align-items: center;
    height: 100%;
}

.topo-do-site .txt-topo-site h1 {
    font-size: 4em;
    line-height: 70px;
    font-weight: 200;
}

.topo-do-site .txt-topo-site h1 span {
    color: #e63b60;
    display: block;
    font-weight: 700;
}

.topo-do-site .txt-topo-site p {
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}

.topo-do-site button {
    width: 220px;
    height: 60px;
    font-size: 20px;
}

/* AUTOBIOGRAFIA */
section .autobiografia {
    padding: 80px 0;
}

.interface {
    display: flex;
}

.autobiografia .flex {
    display: flex;
    flex-direction: column;
}

.autobiografia .primeiraParte {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 5%;
    margin-bottom: 50px;
    margin-top: 130px;
}

.autobiografia .segundaParte {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    margin-bottom: 60px;
}

.autobiografia .primeiraParte .img-itens img {
    max-width: 250px;
    height: auto;
}

.segundaParte .img-itens img {
    max-width: 200px;
    height: auto;
}

.autobiografia .txt-itens h3 {
    color: #e63b60;
    font-size: 3em;
    line-height: 50px;
    margin-bottom: 50px;
}

.autobiografia .txt-itens p {
    color: #151b54;
    font-size: 18px;
}

/* ESTILO DO FORMULÁRIO DE CONTATO */
section.contato {
    padding: 80px 0;
    margin-top: 30px;
}

.txt-contato, .formulario {
    display: flex;
    width: 50%;
    vertical-align: middle;
    justify-content: space-around;
}

.contato .txt-contato h2 {
    color: #fff;
    font-size: 3em;
    line-height: 50px;
    font-weight: 300;
    margin-bottom: 20px;
}

.contato .txt-contato h2 span {
    color: #e63b60;
    display: block;
    font-weight: 700;
}

.contato .formulario form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    padding: 0 60px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    background-color: #fff;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #000;
    font-size: 18px;
    margin-bottom: 10px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 50px;
    text-align: center;
}

form .btn-enviar input {
    width: auto;
    padding: 10px 40px;
    background-color: #fff;
    color: #000;
    font-weight: 700;
    font-size: 18px;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #fff;
    transform: scale(1.05);
}

/* ESTILO DO RODAPÉ */
footer {
    padding: 40px 4%;
    background-color: #b7c9e2;
    box-shadow: 0 0 40px 10px #fff;
}

footer .line-footer {
    padding: 20px 0;
    align-items: flex-end;
    justify-content: flex-end;
}

footer .flex {
    display: flex;
}

footer .line-footer borda {
    border-top: 2px solid #fff;
}

footer .line-footer p i {
    color: #fff;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
}

/* BOTÕES SOCIAIS */
.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
    text-align: center;
}

.btn-social {
    text-align: center;
}
