* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url("cina.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 0px;
}

/* Estilo do header */
header {
    width: 100%;
    padding: 40px 0;
    /* background: #b7c9e2; */
    height: 16vh;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    max-width: 100px;
}

header .mobile-menu {
    display: none;
    cursor: pointer;
}

header .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

header .mobile-menu {
    display: block;
}

header .menu-desktop nav ul {
    list-style-type: none;
}

header .menu-desktop nav ul li {
    display: inline-block;
    margin: 0 40px;
    font-weight: 700;
}

header .menu-desktop nav ul li a {
    font-weight: 700;
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

.menu-desktop nav a:hover {
    transform: scale(1.05);
}

header .btn-contato button {
    width: 140px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

header .btn-contato button:hover {
    background-color: #fff;
    color: #000;
}

/* Estilo da biografia */

section.autobiografia {
    padding: 80px 0;
}

.autobiografia .itens-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 60px;
}

.autobiografia .itens-container .txt-itens h3{
    font-size: 3em;
    line-height: 50px;
    font-weight: 300;
    color: #fff;
}

.itens-container .txt-itens p{
    font-size: 20px;
    color: #fff;
}
